/**
In this file we provide styles which target the editor specifically

We want our general styles to work both on the frontend and backend. But 
sometimes we need to provide specific editor styles to offer a userfriendly
experience. 

The goal is to keep this file to a minimum. 
*/

/* .editor-styles-wrapper {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
} */

/* Limit full size to better resemble the frontend */
.editor-styles-wrapper > .is-root-container:not(.wp-site-blocks) {
	max-width: calc( var(--wp--custom--layout--full-size) - (var(--wp--style--root--padding-left) + var(--wp--style--root--padding-right)));
	margin-left: auto;
	margin-right: auto;	
	padding-left: var(--wp--style--root--padding-left);
	padding-right: var(--wp--style--root--padding-right);
}
